*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background: url("https://artsy-media-uploads.s3.amazonaws.com/2P6t_Yt6dF0TNN76dlp-_Q%2F3417757448_4a6bdf36ce_o.jpg");
    background-size: cover;
    height: auto;
    font-family: "Times New Roman", Times, serif;
  }
  
  .container{
    max-width: 800px;
    height: 400px;
    background: #fff;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 40px;
  }
  
  p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    margin-bottom: 20px;
    color: #486255;
  }
  
  #password,
  .msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
  }
  
   #generate{
    width: 250px;
    background: #486255;
    font-size: 23px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
  }
  
